#titulo{
    width: 40%;
    width: 350px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#div_notaActual{
    text-align: center;

}
#container_principal{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 90%;
    margin: 0 auto;
    min-width: 800px;
    height: 100vh;
    background-color: wheat;
}
#cont_teclados{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    width: 60%;
    min-width: 800px;
    max-height: 780px;
    height: fit-content;
    text-align: center;
    color: white;
}
#mano_izq{
   
    width: 50%;
    max-width: 530px;
    padding-bottom: 50%;
   
    position: relative;
    background-image: url(/imagenes/izqconborde.png);
    background-size:contain;
    background-position-x: 80%;
    background-repeat: no-repeat;



}
#mano_der{
 
     width: 50%;
     max-width: 530px;
    padding-bottom: 50%;

    position: relative;
    background-image: url(/imagenes/der\ \ con\ borde.png);
   
    background-size: contain;
    background-position-x: 20%;
    background-repeat: no-repeat;

 
}



.nota{
    display: flex;
    width: 35px;
    height: 35px;
    font-weight: bold;
    border-radius: 25px;
    border: 1px solid black;
    background-color: #c5a68c;
    align-items: center;
    justify-content: center;
    position: absolute;


}
#nota_no_encontrada{
    position: absolute;
    left: 45%;
    top: 50%;
    color: rgb(247, 248, 248);
    z-index: 1;
    background-color: black;

}
#cont_info{
    display: none;
    position: absolute;
    width: 300px;
    height: auto;
    left: 10px;
    top: 10px;
    text-align: center;
    border: 1px solid black;
}
#mano_izq h3{

    margin-left: 25%;
}
#mano_der h3{

    margin-right: 25%;
}
.rojo{
    background-color: red;
}
.rojo:hover{
    cursor: pointer;
}

#ab_cerr{
    background-color: beige;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-weight: bolder;


}
#cont_button{

    display: block;
    text-align: center;
}
#notasIzq{
    background-image: url(/imagenes/escalaMizqAbriendo.jpg);
    height: 120px;
    margin-top: 20px;
    max-width: 980px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    
}
    
#notasDer{
    background-image: url(/imagenes/manoderrescambiada.png);
    height: 120px;
    margin-top: 20px;
    max-width: 980px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#pentagramas{
    width: 55%;
    min-width: 650px;
    height: auto;
   
}

#i_1{
    left: 38%;
    top: 17%
}

#i_2{
    left: 29%;
    top: 21%
}
 
#i_3{
    left: 61%;
    top: 16%;
}



#i_4{
    left: 52%;
    top: 20%;
}

#i_5{
left: 44%;
top: 23%;

}

#i_6{
    left: 36%;
    top: 27%;

}
#i_7{
    left: 28%;
    top: 30%;


}
#i_8{
    left: 58%;
    top: 26%;


}

#i_9{
    left: 50%;
    top:29%;


}

#i_10{
    left: 42%;
    top: 33%;


}
#i_11{
    left: 34%;
    top: 37%;


}
#i_12{
    left: 27%;
    top: 42%;


}
#i_13{
    left: 57%;
    top: 35%;


}
#i_14{
    left: 49%;
    top: 39%;


}
#i_15{
    left: 41%;
    top: 43%;


}
#i_16{
    left: 34%;
    top: 48%;


}
#i_17{
    left: 27%;
    top: 53%;

}

#i_18{
    left: 56%;
    top: 44%;


}
#i_19{
    left: 49%;
    top: 49%;


}
#i_20{
    left: 41%;
    top: 53%;


}
#i_21{
    left: 35%;
    top: 58%;


}
#i_22{
    left: 28%;
    top: 63%;


}
#i_23{
    left: 57%;
    top: 54%;


}
#i_24{
    left: 50%;
    top: 59%;


}#i_25{
    left: 43%;
    top: 63%;


}#i_26{
    left: 36%;
    top: 68%;


}#i_27{
    left: 59%;
    top: 64%;


}#i_28{
    left: 52%;
    top: 68%;


}#i_29{
    left: 45%;
    top: 73%;


}#i_30{
    left: 38%;
    top: 77%;


}#i_31{
    left: 62%;
    top: 73%;


}#i_32{
    left: 54%;
    top: 77%;


}
#i_33{
    left: 65%;
    top: 81%;


}

#d1{
    left: 31%;
    top: 11%;
}
#d2{
    left: 24%;
    top: 16%;
}
#d3{
    left: 41%;
    top: 15%;
}

#d4{
    left: 34%;
    top: 20%;
}
#d5{
    left: 27%;
    top: 25%;
}
#d6{
    left: 49%;
    top: 20%;
}

#d7{
    left: 42%;
    top: 24%;
}
#d8{
    left: 36%;
    top: 29%;
}
#d9{
    left: 29%;
    top: 34%;
}
#d10{
    left: 57%;
    top: 24%;
}

#d11{
    left: 51%;
    top: 29%;
}
#d12{
    left: 44%;
    top: 34%;
}
#d13{
    left: 37%;
    top: 38%;
}
#d14{
    left: 31%;
    top: 43%;
}#d15{
    left: 66%;
    top: 29%;
}#d16{
    left: 59%;
    top: 34%;
}#d17{
    left: 52%;
    top: 39%;
}#d18{
    left: 45%;
    top: 44%;
}#d19{
    left: 38%;
    top: 48%;

}#d20{
    left: 31%;
    top: 52%;

}#d21{
    left: 66%;
    top: 39%;
}#d22{
    left: 59%;
    top: 44%;
}#d23{
    left: 52%;
    top: 49%;
}#d24{
    left: 45%;
    top: 53%;
}#d25{
    left: 37%;
    top: 57%;
}#d26{
    left: 30%;
    top: 61%;
}#d27{
    left: 66%;
    top: 51%;
}#d28{
    left: 59%;
    top: 55%;
}#d29{
    left: 51%;
    top: 59%;
}#d30{
    left: 43%;
    top: 63%;
}#d31{
    left: 35%;
    top: 67%;
}#d32{
    left: 27%;
    top: 71%;
}#d33{
    left: 66%;
    top: 62%;
}#d34{
    left: 58%;
    top: 65%;
}#d35{
    left: 50%;
    top: 69%;
}#d36{
    left: 42%;
    top: 73%;
}#d37{
    left: 33%;
    top: 77%;
}#d38{
    left: 24%;
    top: 80%;
}

@media screen and (max-width: 1800px) {

.nota{
    width: 30px;
    height: 30px;
}  
#notasIzq{
   
    height: 100px;
  
}
  
#notasDer{
   
    height: 100px;
  
}
  

}


@media screen and (max-width: 800px) {

    .nota{
        width: 30px;
        height: 30px;
    }    
        
    #container_principal {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {

    #cont_teclados {
    height: 500px;
    }
    #pentagramas {
        width: 100%;
       
    }
}
